beautifulsoup4==4.14.2
boto3==1.40.44
botocore==1.40.44
certifi==2025.8.3
charset-normalizer==3.4.3
idna==3.10
jmespath==1.0.1
numpy==2.3.3
pandas==2.3.3
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.5
s3transfer==0.14.0
six==1.17.0
soupsieve==2.8
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
flask
gunicorn
pandas
mysql-connector-python
python-dotenv
